<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= current_user.inspect %>
  <%= @search.term %>
  <% tweets = @search.get_cache_or_search(@search.term, @search.id) %>
  <%= tweets %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
